@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"].invert-date-icon::-webkit-calendar-picker-indicator,
input[type="month"].invert-date-icon::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
